<!doctype html>
<title>{% block title %}Welcome{% endblock %} | MyWallet</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div class="page">
  <h1>MyWallet</h1>
  <div class="navigation">
  {% if g.user %}
    <a href="{{ url_for('category.index') }}">categories</a> |
    <a href="{{ url_for('tag.index') }}">tags</a> |
    <a href="{{ url_for('user.index') }}">users</a> |
    <a href="{{ url_for('usertracking.index') }}">user tracking</a> |
    <a href="{{ url_for('user.logout') }}">sign out [{{ g.user.username }}]</a>
  {% else %}
    <a href="{{ url_for('user.create') }}">sign up</a> |
    <a href="{{ url_for('user.login') }}">sign in</a>
  {% endif %}
  </div>
  {% with flashes = get_flashed_messages() %}
    {% if flashes %}
      <ul class="flashes">
      {% for message in flashes %}
        <li>{{ message }}
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <div class="body">
  {% block body %}{% endblock %}
  </div>
  <div class="footer">
    MyWallet &mdash; A Flask Application
  </div>
</div>
