{% extends "layout.html" %}

{% block title %}
  {{ modelname }} | {{ title }}
{% endblock %}

{% block body %}
  <h2>{{ modelname }}{% if record.id %} | {{ record.id }}{% endif %}</h2>
  {% include 'form_errors.html' %}

  <form action="" method="post">
    {{ form.csrf_token }}
    <dl>
      <dt>{{ form.name.label }}</dt>
      <dd>{{ form.name }}</dd>
      <dt>{{ form.description.label }}</dt>
      <dd>{{ form.description }}</dd>
    </dl>
    <div class="actions"><input type="submit" value="Submit"></div>
  </form>
{% endblock %}
