{% extends "layout.html" %}

{% block body %}

<form method="POST">
  <input type="text" name="username"  placeholder="username" value="user2" required /><br/>
  <input type="email" name="email" placeholder="email" value="user@user.com" required /><br/>
  <input type="password" name="password" placeholder="password" value="2" required /><br/>
  <input type="password" name="confirm_password" placeholder="confirm password" value="2" required /><br/>
  <input type="submit" value="Submit" />
</form>

{% endblock %}
